  Styles généraux */
/* Variables CSS pour les couleurs */
:root {
  --couleur-primaire-foncee: #45261d;
  --couleur-accent-marron: #8F543E;
  --couleur-texte-clair: #CE7650;
  --couleur-texte-sombre: #3B260E;
  --couleur-neutre-grise: #AFA099;
}

/* Réinitialisation de base */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Base de la typographie */
.revalia-regular {
  font-family: "Revalia", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-regular { /* Remplacer par la classe générée par Google Fonts si différente */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Exemple, ajustez selon votre lien Google Fonts */
  font-style: normal;
}
/*site Buhanor*/
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background: black;
  color: #F5CC00; /* Couleur de texte par défaut */
}
mark{
    background-color: #aacc00;
    color: black;
}

.montserrat-<uniquifier> {
  
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 /* Smooth scroll */
html {
    scroll-behavior: smooth;
}

/* Animation sur le défilement */
.fade-in {
    opacity: 0;
    transform: translateY(50px) perspective(1000px) rotateX(5deg) scale(0.95);
    filter: blur(4px);
    transition-property: opacity, transform, filter;
    transition-duration: 0.9s;
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0) perspective(1000px) rotateX(0) scale(1);
    filter: blur(0);
}


header {
    background-color: #000814;
    color: white;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    left: 0px;
    right: 0px;
    background-color:#000814;
    
}

.navbar img{
  width: 100px; /* Taille du logo dans la nav */
  height: auto;
  margin-left: 10px; 
}
/* Liens de navigation */
.nav-links {
    list-style: none;
    margin: 5px 59px;
    padding: 0;
    display: flex; /* Affiche les liens côte à côte par défaut (grands écrans) */
    font-size: 1.2em;
    gap: 15px;
}

.nav-links li {
    margin-bottom: 0;
}
.nav-links a {
     font-family: "Revalia", sans-serif;
    color: white;
    text-decoration: none;
    padding: 5px 0;
    transition: color 0.5s ease;
}

.nav-links a:hover {
    color:  #f20089;
}

li {
    margin-bottom: 0.8rem;
    padding-left: 1.5rem;
    position: relative;
}
li:before {
    content: "•";
    color: #f20089;
    font-weight: bold;
    position: absolute;
    left: 0;
}
/* Menu Hamburger */
.hamburger-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1001;
}

.hamburger-menu .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
}

.hamburger-menu.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* ===== Réglages Généraux et Polices ===== */


h1, h2 {
    font-weight: 700;
}

/* ===== Section Hero ===== */
.hero {
    /* Remplacez 'city-background.jpg' par le chemin de votre image */
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1)), url('vue-panoramique-palmier-casamance.jpg');
    height: 400px;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    max-width: 600px;
    padding: 20px;
}

.hero h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

/* Petits points sous le titre */
.dots {
    margin-bottom: 20px;
}

.dots span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    margin: 0 4px;
}

.hero p {
    font-size: 1.1rem;
    font-weight: 300;
}

/* ===== Section Infos de Contact ===== */
.main-container {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    overflow: hidden; /* Pour contenir les bords arrondis */
    margin: 12 9px;
    padding: 40 px;
    
}
.main-container h1{
    text-align: center;
    font-size: 4em;
    font-family:  "Revalia" ;
    text-align: left;
    color: #d9dcd6;
}

.info-card {
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 30px 80px;
    text-align: center;
    
}
.infos-card {
     padding: 10px 20px;
  background-color: ; /* Couleur de fond pour la section contact */
  margin:  12px 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  color: #45261d; /* Texte blanc sur fond marron */
  border-radius: 9px;
  text-align: center;    
}

.info-card h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: white;
}

.lorem-text {
    color: white;
    margin-bottom: 15px;
    font-size: 1em;
    text-align: justify;
}

.E-CCH{
  font-size: 2em;
  color: #d9dcd6 ;
  font-family: "Revalia";
  padding: 10px;
  text-align: center;
  
}

.E-CCH h2{
    padding-bottom: 30px ;
}


.reach-out-button {
           background: NONE;
            color: #d9dcd6;
            padding: 5px 15px;
            border: none;
            border-radius: 15px;
            font-size: 1em;
            font-family: "Revalia";
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            display: inline-block;
             border: 1px solid #d9dcd6;
            width: fit-content; /* S'adapte au contenu */
            margin-top: 10px;
        }
        .reach-out-button3 {
           background: NONE;
            color: white;
            padding: 1px 40px;
            margin: 15px;
            border: none;
            border-radius: 15px;
            font-size: 1.5em;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            display: inline-block;
             border: 2px solid #d9dcd6;
            width: fit-content; /* S'adapte au contenu */
            
        }


        .reach-out-button2 {
           background: NONE;
            color: #d9dcd6;
            border: none;
            border-radius: 15px;
            font-size: 1em;
            font-family: "Revalia";
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            
            width: fit-content; /* S'adapte au contenu */
            
        }

 /* CSS POUR CHAMBRES COTE A COTE */

.COTEaCOTE{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
   
}


.E-CH2{
   width: 70%;
   height: auto;
   border-radius: 10px;
   filter: saturate(200%);
   object-fit: cover;
   padding: 10px;
  }

.E-CH{
  margin:  12px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  color: #45261d; /* Texte blanc sur fond marron */
  border-radius: 9px;
  text-align: NONE;
  
  
}
.E-CHH{
  font-size: 1.5em;
  color: #d9dcd6;
  font-family: "Revalia";
  padding-top: 5%;
  text-align: center;
  object-fit: cover;
}
.E-CH h1{
    font-size: 2em;
  color: white;
  font-family: "Revalia";
  text-align: left;
    
}

.E-CH P{
    font-size: 1em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    color: white;
}

/* GALERIE DIMAGE */ 

.BU2{
  padding: 30px 20px;
  background-color: #000814; /* Couleur de fond pour la section contact */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white; /* Texte blanc sur fond marron */
  text-align: center;
}
.BU2 h2{
    font-size: 2.5em;
    font-family: "Revalia" ;
}
.BU2 p{
    font-size: 1.1em;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 15px;
    max-width: 1200px;
    margin: 9px auto;
    padding: 20px;
    background-color: #000814;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.9);
}

.gallery-item {
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    transition: transform 0.2s ease-in-out;
}

.gallery-item:hover {
    transform: scale(1.1);
}

.gallery-item img {
    width: 100%;
    height: 200px; /* Hauteur fixe pour les vignettes */
    object-fit: cover; /* Assure que l'image couvre l'espace sans être déformée */
    display: block;
}

 .utton{
    background-color: NONE; /* Green */
  border: none;
  color: white;
  padding: 17px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;

 }

.utton1 {
  background-color: #000814 ;
  color: white;
   border-radius: 45PX;
  font-family: "Revalia";
  font-size: 24px;
 
}

.utton1 a{
    text-decoration: none;
    color: inherit;
}

/* Styles pour la Lightbox */
.lightbox {
    display: none; /* Caché par défaut */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9); /* Fond semi-transparent noir */
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
    object-fit: contain; /* L'image s'adapte sans être coupée */
}

.close-btn, .prev-btn, .next-btn {
    position: absolute;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.close-btn {
    top: 15px;
    right: 35px;
}

.close-btn:hover,
.close-btn:focus,
.prev-btn:hover,
.next-btn:hover {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev-btn {
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

.next-btn {
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

  /* Styles généraux du footer */
.footer {
    background-color: #000814; /* Couleur de fond verte foncée */
    color: white;
    padding: 40px 10px;
    font-family: "Revalia"; 
}

/* Section supérieure du footer (localisation, réservations, plateformes) */
.footer-top {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap; /* Permet aux sections de passer à la ligne sur de petits écrans */
    margin-bottom: 0px; /* Espace entre la section du haut et la section du bas (logo/nom) */
}

.footer-section {
    margin-bottom: 20px; /* Espace sous chaque section sur petits écrans */
    text-align: center; /* Alignement du texte à gauche par défaut */
}

.footer-section h3 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 9px;
    font-size: 1.5em;
}

.footer-section p {
       font-family: "Montserrat";
      font-size: 1.1em;
     color: white;
}
.footersectionblog{
    margin-bottom: 20px; /* Espace sous chaque section sur petits écrans */
    text-align: justify; /* Alignement du texte à gauche par défaut */

}
.footersectionblog h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.footersectionblog p {
    text-align: center;
    color: white;
    margin: 0;
} 
.footersectionblog a{
     font-family: "Montserrat";
      font-size: 1.1em;
     color: white;
}

.footer-section a {
    color: inherit;
    text-decoration: none;
}
/* Styles pour les icônes des plateformes */
.platform-icons {
    display: flex;
    align-items: center;
}

.platform-icons img {
    height: 44px; /* Taille des icônes */
    margin-right: 40px; /* Espace entre les icônes */

}



/* Section inférieure du footer (logo) */
.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permet au logo et au texte de passer à la ligne si nécessaire */
}
.footerr { 
            text-align: center; 
            padding: 2rem; 
            background-color: #020c1b; 
            color: #8892b0; 
        } 
.footer-logo {
    width: 300px;
    height: auto; /* Hauteur du logo, ajustez selon vos besoins */
    margin-right: 15px; /* Espace entre le logo et le texte "BUHANOR" */
}


/* Media queries pour la responsivité (facultatif mais recommandé) */
@media (max-width: 768px) {
    .footer-top {
        flex-direction: column; /* Empile les sections verticalement sur les petits écrans */
        align-items: center; /* Centre les sections empilées */
    }

    .footer-section {
        width: 100%; /* Chaque section prend toute la largeur */
        text-align: center; /* Centre le texte des sections */
    }

    .platform-icons {
        justify-content: center; /* Centre les icônes sur petits écrans */

    }

    .footer-logo {
        margin-right: 0; /* Pas de marge à droite quand empilé */
        margin-bottom: 10px; /* Marge sous le logo quand empilé */
    }
}
/* Styles pour les icônes des plateformes */
.platform-icons {
    display: flex;
    align-items: center;
}

.platform-icons img {
    height: 44px; /* Taille des icônes */
    margin-right: 40px; /* Espace entre les icônes */

}



/* Section inférieure du footer (logo) */
.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permet au logo et au texte de passer à la ligne si nécessaire */
}

.footer-logo {
    width: 300px;
    height: auto; /* Hauteur du logo, ajustez selon vos besoins */
    margin-right: 15px; /* Espace entre le logo et le texte "BUHANOR" */
}


/* Media queries pour la responsivité (facultatif mais recommandé) */
@media (max-width: 768px) {
    .footer-top {
        flex-direction: column; /* Empile les sections verticalement sur les petits écrans */
        align-items: center; /* Centre les sections empilées */
    }

    .footer-section {
        width: 100%; /* Chaque section prend toute la largeur */
        text-align: center; /* Centre le texte des sections */
    }

    .platform-icons {
        justify-content: center; /* Centre les icônes sur petits écrans */

    }

    .footer-logo {
        margin-right: 0; /* Pas de marge à droite quand empilé */
        margin-bottom: 10px; /* Marge sous le logo quand empilé */
    }
}
/* Media Queries pour les écrans plus petits */

@media (max-width: 1250px) {

    .nav-links{
        margin: 5px 40px;
        font-size: 1.4em;
    }


@media (max-width: 999px) {
    .contact-info {
        padding: 22px 5px;
    }
     .info-card {
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
       padding: 20px 10px;
       text-align: center;
    
     }
      .infos-card {
        padding: 10px 20px;
         background-color: ; /* Couleur de fond pour la section contact */
         margin:  12px 15px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
         color: #45261d; /* Texte blanc sur fond marron */
          border-radius: 9px;
          text-align: center;    
     }

     .info-card h2 {
       font-size: 1.2rem;
       margin-bottom: 5px;
       color: white;
     }

     .lorem-text {
      color: white;
      margin-bottom: 15px;
      font-size: 1em;
      text-align: justify;
    }


}


@media (max-width: 799px) {
    .hero h1 {
    font-size: 1.3em;
    letter-spacing: 2px;
    margin-bottom: 15px;
    }

    /* Petits points sous le titre */
     .dots {
       margin-bottom: 20px;
     }

     .dots span {
       display: inline-block;
       width: 4px;
       height: 4px;
       border-radius: 50%;
       background-color: white;
       margin: 0 4px;
     }

     .hero p {
       font-size: 0.8em;
       font-weight: 300;
     }

     /* ===== Section Infos de Contact ===== */
      .main-container {
         box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
         border-radius: 8px;
         overflow: hidden; /* Pour contenir les bords arrondis */
         margin: 12 9px;
         padding: 40 px;
    
      }
      .main-container h1{
        text-align: center;
        font-size: 2.3em;
        font-family:  "Revalia" ;
        text-align: left;
        color: #d9dcd6;
      }

      .info-card {
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
       padding: 10px 3px;
       text-align: center;
    
     }
      .infos-card {
        padding: 10px 0px;
         margin:  2px 5px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
         color: #45261d; /* Texte blanc sur fond marron */
          border-radius: 9px;
          text-align: center;    
     }

     .info-card h2 {
       font-size: 1.2rem;
       margin-bottom: 5px;
       color: white;
     }

     .lorem-text {
      color: white;
      margin-bottom: 10px;
      padding: 0 20px;
      font-size: 0.8em;
      text-align: left;
    }
    .reach-out-button{
        font-size: 0.7em;
    }

    .E-CCH{
     font-size: 1.em;
     color: #d9dcd6 ;
     font-family: "Revalia";
     padding: 10px;
     text-align: center;
  
     }

     .E-CCH h2{
     padding-bottom: 30px ;
     font-size: 2rem;
     }

     .reach-out-button{
         font-size: 0.7em;
     }

     .button{
     background-color: NONE; /* Green */
     border: 1px solid #d9dcd6;
     padding: 17px 12px;
     text-align: left;
     text-decoration: none;
     margin: 4px 2px;
     cursor: pointer;
     }

     .button1 {
     background-color: black ;
     color: #d9dcd6;
     border-radius: 45PX;
     font-family: "Revalia";
     font-size: 25px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .button1 a{
    text-decoration: none;
    color: inherit;
     }
             /* CSS POUR CHAMBRES COTE A COTE */

    .COTEaCOTE{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
   
    }


    .E-CH2{
    width: 70%;
    height: auto;
    
    } 

     .E-CH h1{
     font-size: 1.7em;
     }
     
     .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 15px;
    max-width: 1200px;
    margin: 9px auto;
    padding: 20px;
    background-color: #000814;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.9);
    }
    .BU2 {
        padding: 30px 0px;
    }
 }
 @media (max-width: 999px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #000814;
        position: absolute;
        top: 70px; /* Ajustez selon la hauteur réelle de .navbar */
        right: 0;
        text-align: center;
        padding: 20px 0;
        font-size: 1.4em;
        z-index: 999;
        transform: translateX(100%);
    }

    .nav-links.active {
        display: flex;
        transform: translateX(0);
    }

    .nav-links li {
        margin: 15px 0;
    }

    .hamburger-menu {
        display: block;
    }

    .brand-logo img {
        width: 120px;
    }
}

@media (max-width: 799px) {
    .nav-links {
        width: 35%;
        margin: 0;
        top: 70px;
        font-size: 1.2em;
    }

    .nav-links.active {
        display: flex;
        padding: 20px 0;
        MARGIN-TOP: -5%;
    }
    li {
        font-size: 0.9rem;
        line-height: 1.5;
    }

    .brand-logo img {
        width: 100px;
    }
}    
